<home class="app-page">
    <header class="header-bar">
        <div class="center">
            <button class="btn pull-left icon icon-menu" data-side-panel-id="side-home"></button>
            <h1 class="title">Happy Multi</h1>
        </div>
    </header>
    <div class="content">
        <div class="padded-full">
            <h1 data-i18n="text: initialyse_title"></h1>
            <p data-i18n="text: initialyse_text"></p>
            <p data-i18n="text: table_of"></p>
            <ul class="list">
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="2">
                        2
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="3">
                        3
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="4">
                        4
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="5">
                        5
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="6">
                        6
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="7">
                        7
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="8">
                        8
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="9">
                        9
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="10">
                        10
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                        <input type="checkbox" name="25">
                        25
                        <span></span>
                    </label>
                </li>
            </ul>
            <div class="padded-bottom"></div>
            <button class="btn fit-parent primary" data-i18n="text: start" id="start-btn"></button>
        </div>
    </div>
</home>